h1 {
	color:black;
	font-family:century;
	text-align:center;
	margin-top:25%;
}

a {
	text-decoration:none;
	color: black;
	position:fixed;
	bottom:0;
	font-size:24px;	
}

a:hover{
	color:#505050;
}
