ul {
  list-style-type: none;
}

h1 {
  text-align:center;
}
.menu{
  position:relative;
  background-color: #d3d3d3;
  width: 20%;
  height: 1000px;
  float:left;
}

.main{
  position:relative;
  background-color:#0f0f0f;
  width: 80%;
  height: 1000px;
  float:right;
}


