h2 {
	text-align: center;
        color:GREEN;
        background-color:YELLOW;
        font-family:"Comic Sans MS", cursive, sans-serif;
}

div {
	text-align: center;
        background-color: #b0e0e6;
}




