h2 {
  text-align: center;
  font-family: century;
}

.loginpanel {
  position: fixed;
  top: 25%;
  left: 50%;
  bottom: 25%;
  transform: translate(-50%, 0%);
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  padding: 20px;
}

.loginpanel label {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  
}

.loginpanel input {
  margin-left: 10px;
  margin-right: 10px;
}

.sub {
  text-align:center;
}



