td {
  background: darkblue;
  color: white;
  font-family: century; 
}

tr{
  border-collapse: collapse;
}
th{
  border-collapse: collapse;
  border-width: 0;
  background-color: yellow;
}
table {
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #e2e2e1;
}


